.card {
    display: flex;
    justify-content: center ;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  max-width: 300px;
}

.card, img {
    border-radius: 5px;
    height: 400px;
    width: 285px;
    object-fit: cover;
    margin: 20px 0px;
}

.card p {
  font-size: 14px;
  color: #333;
}

